<div class="container mt-3">
  <h1>All available consoles</h1>

<!-- All consoles, loop with each -->
  <div class="cards-container">
    <%= render "shared/cards", consoles: @consoles %>
  </div>
</div>
