// Specific CSS for your home-page
body {
  position: relative;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%, rgba(0,0,0,1) 100%);
}

.banner {
  height: 450px;
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1580234811497-9df7fd2f357e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80");
  object-fit: cover;
  background-size: cover;
}

.banner h2 {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 40px;
  font-family: 'Odibee Sans', cursive;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 80px;
  font-family: 'Odibee Sans', cursive;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 16px;
   margin-top: 30px;
   margin-bottom: 30px;
 }

 .card {
   text-decoration: none;
   color: black;
   text-align: center;
   border-radius: 4px;
   box-shadow: 0 10px 30px rgba(0,0,0,.1);
   padding: 50px;
   width: 100%;
   height: 100%;
 }

 @media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
