
  <div class="banner">
    <div class="container">
        <h1>Welcome to Console Maniacs</h1>
        <h2 class="font-monospace">Don't buy a video game console, rent one</h2>
        <%= link_to consoles_path do%>
         <button class="glow-on-hover" type="button">See all consoles</button>
        <%end%>
        <%= link_to new_console_path do%>
         <button class="glow-on-hover" type="button">Submit your console</button>
        <%end%>
    </div>
  </div>
