
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Odibee Sans', cursive;
  height: 100%;
  width: 100%;
  h5 {
    font-size: 20px;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 74px;
}

.map_button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
}
