
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Odibee Sans', cursive;
  height: 100%;
  width: 100%;
  h5 {
    font-size: 15px;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 74px;
}
